// para el footer
$texa-footer: center;
$matp-footer: 50%;

// Para los li del footer
$dis-footer: inline-block;
$col-footer: whitesmoke;

// para las imagenes de desktop
$img-desktop: 20px;

// margin para mq tablet-pary
$mar-contenedorpary: 20px;

// margin para img mq tablet-pary
$mar-tablet: 5px;

// display grid
$display-grid: grid;

// medida para mq
$img-tabletclassic: 10px;

// tamaño height y width
$height: 500px;
$width: 100%;

// transicion
$transition: 3s;

// margin-right para main longin
$margin-right: 30%;

// fondo de color main longin
$background-color: rgb(250, 246, 246);

// borde para main longin
$borde: 1px solid whitesmoke; 

// padding para main longin
$espacio-interno: 7px;